a {
	color: blue;
	font-weight: normal;
	text-decoration: none;
}
a:hover {
	color: orange;
}
body {
	margin-left: 2.5%;
	margin-top: 2%;
	width: 50%;
}
/* Not currently in use.
h1 {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 1.5em;
	margin-bottom: 2%;
}
*/
#blurb {
	font-size: 1.3em;
	font-family: serif;
	font-weight: 100;
	margin-left: 5%;
	margin-right: 5%;
}
#boxInner {
	fill: none;
	stroke: black;
	stroke-width: 1px;	
}
#boxOuter {
	fill: none;
	stroke: red;
	stroke-opacity: 0; /* Make inivisble. */
	stroke-width: 1px;
}
.axis {
	fill: none;
	font-size: 1.1em;
	font-weight: normal;
}
.axis-label {
	font-family: sans-serif;
	font-size: 1.75em;
	text-anchor: middle;
}
.legend-text {
	dominant-baseline: middle;
	font-family: sans-serif;
	font-size: 0.9em;
}
.line {
	fill: none;
	stroke: black;
	stroke-width: 2px;
}
.cdf { /* The CDF gets additional styling. */
	stroke: rgb(0, 0, 128);
	stroke-dasharray: 5,3;
}
.title {
	font-family: sans-serif;
	font-size: 1.6em;
	text-anchor: middle;
}
